% rebase('use_base.html', title='Extra Functions')
<center>

<link rel="stylesheet" href="/static/tooltip.css">

<style>
	input, select, hr, table, .wifi {min-width: 50%;max-width: 50%;}
	.wifi {
		border: 3px solid black;
	}
	hr {
		height: 2px;
		margin-top: 0%;
		margin-bottom: 0%;
	}
	.cool {min-width: 50%;
	max-width: 50%;
	}
	table {
		text-align: center;
	}
	.tooltip .tooltiptext {
		top: -5px;
  		left: 105%;
	}
</style>
<br>
<form action="/use/power" method="POST">
	<input type="number" name='sec' placeholder="Enter Number of Seconds" class="w3-btn w3-white" required>
	<hr>
	<select name="action" style="width: 50%;" class="w3-btn w3-white" required>
		<option>Shutdown</option>
		<option>Restart</option>
		<option>Log off</option>
	</select>
	<hr>
	<button class="w3-btn w3-red cool" type="submit">Blast</button>
</form>
<br>
<Button class="w3-btn w3-green cool" style="padding: 1% 1%;" onclick="window.location.href='/use/runasadmin'">
	Run As Administrator
</Button>
<br>
<Button class="w3-btn w3-purple cool" style="padding: 5% 0%;" onclick="window.location.href='/use/dumpWiFi'">
	Dump WiFI Password
</Button>
% if defined('wifi'):
	<textarea rows="14" class=wifi>{{wifi}}</textarea>
% end

<hr><hr>
<button style="width: 50%;" onclick="toggleTable()">
	Task Manager <i style="font-size: 13px;">▼</i>
</button>
<table border="1" id="MyTable" style="display: none;">
	<tr><th colspan="3"><button onclick="window.location.href='/use/extra'">REFRESH</button></th></tr>
	<tr><th>Name</th><th>Mem Usage</th><th>Actions</th></tr>
	% for task in tasks:
	<tr>
		<td>{{task[0]}}</td>
		<td>{{task[2]}}</td>
		<td>
			<button class="tooltip" style="width: 100%;" ondblclick="window.location.href='/use/task/kill/{{task[1]}}'">KILL
			<span class="tooltiptext">
				Double Click!
			</span></button>
		</td>
	</tr>
	% end
</table>

<script>
	var tablee = document.getElementById("MyTable");
	tablee.style.display === "";

	function toggleTable(){
	var x = document.getElementById("MyTable");
	if (x.style.display === "none") {
		x.style.display = "";
	} else {
		x.style.display = "none";
	}
	}
</script>
</center>