% rebase('use_base.html', title='Upload Files')
<style>
	.form {border: 2px solid rgb(0, 0, 0);}
	tr {border-bottom:10px solid white;}
	.my-input {
		width: 100%;
	}
</style>

<h4 style="background-color: #00cdeb;color: white;text-align: center;">
	<div id="mesg">{{cwd}}</div>
</h4>

<div class="w3-container">
	<div class="form">
		<form action="/use/file/manager" method="POST" enctype="multipart/form-data">
			<input type="file" name="file" placeholder="Choose file to upload" required>
			<input type="submit" value="Upload">
		</form>
		<br>
		<form action="/use/change/download" method="POST">
			<input type="text" name="dir" class="my-input" placeholder="Enter PATH to Downloads (DEFAULT is downloads in app)" required>
			<br>
			<input type="submit" value="SET" class="my-input">
		</form>
	</div>
	<br>
	<table class="w3-table w3-bordered">
		<tr><td>
			% for i in drives:
				<a href="/use/get?dir={{i}}">
					<img src="/static/drive.png" width="17" height="17"> DRIVE {{i}}
				</a><br>
			% end
		</td></tr>
		<tr>
			<td><a href="/use/get?dir=..">
				<span style="font-size: 25px;color: rgb(255, 31, 31);">&#x2936;</span> Back</a>
			</td>
		</tr>
	% for i in range(len(list_dir)):
		<tr>
			<td>
				% if list_dir[i][1] == 'd':
					<a href="/use/get?dir={{i}}">&#128193; {{list_dir[i][0]}}</a>
				% elif list_dir[i][1] == 'f':
					<a href="/use/get?dir={{i}}">
						<img src="/static/file.png" width="17" height="17"> {{list_dir[i][0]}}
					</a>
				% end
			</td>
			<td>
				% if list_dir[i][1] == 'd':
					&#128193; Directory
				% elif list_dir[i][1] == 'f':
					<img src="/static/file.png" width="17" height="17"> File
				% end
			</td>
		</tr>
	% end
	</table>
	</div>