% rebase('use_base.html', title='Shell')
<style>
	body {
		background-color: black;
		color: rgb(14, 238, 14);
	}

	input {
		background-color: black;
		color: rgb(14, 238, 14);
		position: fixed;
	}

	pre {
		white-space: pre-wrap;
		font-size: 16px;
	}
	#cool {
		border-top: 2px solid white;
		border-left: 2px solid white;
		border-right: 1px solid rgb(165, 163, 163);
		border-bottom: 1px solid rgb(165, 163, 163);
	}
</style>

<br>
<form action="shell" method="post">
	<input type="text" name="cmd" placeholder="Enter any Command" class="w3-input w3-animate-input" style="width:30%" autofocus required>
	<br><br>
	<input type="submit" value="Execute" id="cool">
</form>
<br>
<pre>{{result}}</pre>
<div id="footer"></div>
