% rebase('index_base.html', title='Clients')
	<h3 style="background-color: #00cdeb;color: white;text-align: center;"><div id="mesg">{{mesg}}</div></h3>
	<br>
	<center>
		<h2>List of Clients</h2>
			% if not clients:
				<h3><spam style="background-color:red;color:blue;">Not any Client</spam></h3>
			%else:
			<table border=2 style="background-color: #858585;color:white;text-align: center;">
				<thead class="w3-teal">
					<tr><th>No</th><th>USERNAME</th><th>HOST</th><th>PORT</th><th>Actions</th></tr>
				</thead>
				<tbody>
					% for i in clients:
					<tr>
						<th><span class="w3-badge w3-large">{{i[1] + 1}}</span></th>
						<td>{{i[2]}}</td>  <!-- USERNAME -->
						<td>{{i[3]}}</td>  <!-- HOST -->
						<td>{{i[4]}}</td>  <!-- PORT -->
						<td>
							<a href="/use/{{i[0]}}"><button>USE</button></a><br>
							<button onclick="check_del('/close/{{i[0]}}')">CLOSE</button>
						</td>
					</tr>
					% end
					<tr><td colspan=5>
						<button onclick="check_del('/close/all')" class="w3-btn w3-red">Close All</button>
					</td></tr>
				</tbody>
			</table>
			% end
		</center>
<script>
	var div = document.getElementById('mesg');
	setTimeout(function() {div.remove();}, 5000);
	setTimeout(function() {window.location = "/clients";}, 5000);
</script>
<script src="/static/check_del.js"></script>
