<link rel="stylesheet" href="/static/main.css">
<link rel="stylesheet" href="/static/w3.css"
>
<h3 style="background-color: #00cdeb;color: white;text-align: center;"><div id="mesg">{{mesg}}</div></h3>
<center>
<h2>List of Clients</h2>
	% if not clients:
		<h3><spam style="background-color:red;color:blue;">Not any Client</spam></h3>
	%else:
	<table border=2 style="background-color: #858585;color:white;text-align: center;">
		<thead class="w3-teal">
			<tr><th>No</th><th>USERNAME</th><th>HOST</th><th>PORT</th><th>Actions</th></tr>
		</thead>
		<tbody>
			% for i in clients:
			<tr>
				<th><span class="w3-badge w3-large">{{i[0] + 1}}</span></th>
				<td>{{i[1]}}</td>
				<td>{{i[2]}}</td>
				<td>{{i[3]}}</td>
				<td>
					<a href="/use/{{i[0]}}"><button>USE</button></a><br>
					<button onclick="check_del('/close/{{i[0]}}')">CLOSE</button>
				</td>
			</tr>
			% end
			<tr><td colspan=5>
				<button onclick="check_del('/close/all')" class="w3-btn w3-red">Close All</button>
			</td></tr>
		</tbody>
	</table>
	% end
</center>
<script>
	setTimeout(function() {window.location = "/list/clients";}, 5000);
</script>
<script src="/static/check_del.js"></script>