<!DOCTYPE html>
<html>
<head>
	<title>{{title or 'No title'}}</title>
	<link rel="icon" href="/static/biohazard.svg" sizes="any" type="image/svg+xml">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/main.css">
	<link rel="stylesheet" href="/static/w3.css">
</head>
<body bgcolor=#d3d3d3>
	<div class="w3-bar w3-black" id="header">
		<a href="/" class="w3-bar-item w3-btn w3-mobile w3-green">Home</a>
		<a href="/clients" class="w3-bar-item w3-button w3-mobile">Clients</a>
	  </div>
	{{!base}}
</body>
</html>