% rebase('index_base.html', title='Remote Systems Administration($)')
<div class="w3-container w3-animate-right">
<h3 style="background-color: #00cdeb;color: white;text-align: center;"><div id="mesg">{{mesg}}</div></h3>
<br>

<div class="w3-display-container">
<!-- Listenning Start -->
<div class="w3-card-4 w3-round-large w3-display-topmiddle" style="width: 50%;">
<div class="w3-container w3-purple">
  <h2>Start Listening</h2>
</div>
<form class="w3-container" action="/listen" method='POST'>
<p>
  <label><b>Host or IP</b></label>
  <input class="w3-input w3-border w3-light-grey" type="text" name="host" placeholder="Enter Host or IP Address"></p>
<p>
  <label><b>Port Number</b></label>
  <input class="w3-input w3-border w3-light-grey" type="number" name="port" placeholder="Enter port number" required></p>
<p>
  <button class="w3-btn w3-blue">Listen</button></p>
</form>
</div>
<!-- Listening END -->

<!-- Create Client START -->
<div class="w3-card-4 w3-round-large w3-display-middle" style="width: 50%; margin-top: 36em;">
<div class="w3-container w3-green">
 	<h2>Create Client</h2>
</div>
<form class="w3-container" action="/create_client" method='POST'>
<p>
	<label><b>Host or IP</b></label>
	<input class="w3-input w3-border w3-light-grey" type="text" name="host"  placeholder="Enter Host or IP Address" required>
</p>
<p>
	<label><b>Port Number</b></label>
	<input class="w3-input w3-border w3-light-grey" type="number" name="port" placeholder="Enter port number" required>
</p>
<p>
	<label><b>Filename</b></label>
	<input class="w3-input w3-border w3-light-grey" type="text" name="filename" placeholder="Enter Filename" required><br>
	<label><input type="radio" name="crypt" value="crypt"> Ecrypted</label><br>
	<label><input type="radio" name="crypt" value="nocrypt" checked> Not Encrypted</label>
</p>
<p><button class="w3-btn w3-red">Create</button></p>
</form>
</div>
<!-- Creeat Client END -->
</div>
</div>
<script>
	var div = document.getElementById('mesg');
	setTimeout(function() {div.remove();}, 5000);
</script>
