<!DOCTYPE html>
<html>
<head>
	<title>{{title or 'No title'}}</title>
	<link rel="icon" href="/static/biohazard.svg" sizes="any" type="image/svg+xml">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/main.css">
	<link rel="stylesheet" href="/static/w3.css">
</head>
	% if defined('footer'):
		<body onload="window.location.hash = '{{footer}}'">
	% else:
		<body>
	% end
	<div class="w3-bar w3-black" id='header'>
		<a href="/" class="w3-bar-item w3-btn w3-mobile w3-green">Home</a>
		<a href="/clients" class="w3-bar-item w3-button w3-mobile">Clients</a>
		<a href="/use/shell" class="w3-bar-item w3-button w3-mobile">CMD</a>
		<a href="/use/screenshot" class="w3-bar-item w3-button w3-mobile">Screenshot</a>
		<a href="/use/attach_startup" class="w3-bar-item w3-button w3-mobile">Attach Startup</a>
		<a href="/use/file/manager" class="w3-bar-item w3-button w3-mobile">File Manager</a>
		<a href="/use/screen/share" class="w3-bar-item w3-button w3-mobile" target="_blank">
			Screen Share
		</a>
		<a href="/use/extra" class="w3-bar-item w3-button w3-mobile">Extra</a>

		<!-- This is DropDown menu Code -->
		<!-- <div class="w3-dropdown-hover w3-mobile">
			<button class="w3-button">Upload<i style="font-size: 13px;">▼</i></button>
			<div class="w3-dropdown-content w3-bar-block w3-white w3-card-4">
				<a href="#" class="w3-bar-item w3-button w3-text-black">Upload</a>
			</div>
		</div> -->
		<!-- This is DropDown menu Code -->

	</div>
	% if defined('mesg'):
		<h3 style="background-color: #00cdeb;color: white;text-align: center;">
			<div id="mesg">{{mesg}}</div>
		</h3>
		<script>
			var div = document.getElementById('mesg');
			setTimeout(function() {div.remove();}, 5000);
		</script>
	% end
	{{!base}}
</body>
</html>