body {font-size: 1.3em;}

table {width: 30em;}

button {width: 100%;}

body {background-color: #d3d3d3;}

#header {
	position: sticky;
	top: 0;
}

.red_color {color: red;}

.mine-a {
	background-color: aqua;
}